@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body {

    background-image: url("../images/9002831_4069621.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: "Anta";
    
}

.nav {
    width: 100vw;
    height: 5vh;

    margin: auto;
    margin-top: 2vh;
    text-align: right;

    
}

.link {
    color: #955FF3;
    margin: 4vw;
    font-size: 20px;

}

.title {
    width: 100vw;
    height: auto;
    margin: auto;
    margin-top: 30vh;
    padding-left: 10vw;
    
}

#title {
    color: white;
    font-weight: 100;
    font-size: 70px;
    

}

#title-extension {
    color: white;
    font-weight: 100;
    
    
}

.title-planet-img {
    position: relative;
    left: 40vw;
    bottom: 50vh;
    
}

.explore-btn {
    font-family: "Anta";
    color: white;
    font-weight: 200;

    background-color: #955FF3;

    border-radius: 10px;
    border: transparent;
    width: 130px;
    height: 40px;
}

.content {
    width: 100vw;
    height: auto;
    
    text-align: center;

}

.content-item {
    text-align: left;
    
    text-align: center;
    
    
    
    color: white;
    margin: auto;
    margin-bottom: 10vh;
    width: 100vw;
    height: auto

}

.content-item h1 {
    font-size: 250px;
}

.content-item p {
    font-size: 20px;
    position: relative;
    top: 12vh;
    
}

.clock-planet-img{
    position: relative;
    bottom: 25vh;
}

.footer {
    background-color: black;
    width: 100vw;
    height: 10vh;
    margin: auto;
    color: white;
    text-align: center;
    padding-top: 5vh;
    border-top: 2px solid;
    border-color: #955FF3;
}

.clock h1 {
    
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-color: #955FF3;
    padding: 50px;
}

a {
    text-decoration: none;
}
